<div class="main-content">
  <div class="container-fluid">
    <div class="row card">
      <div class="card-header-danger" style="margin-bottom: 4%">
        <h4 class="card-title ">Défenses siège enregistrés</h4>
      </div>
      <div class="col-md-12" >
        <div class="card" *ngFor="let user of data" (click)="toggleIsVisible(user.userId)" >
          <div class="card-header card-header-danger" style="cursor: pointer;">
            <h4 class="card-title ">{{user.userName}}</h4>
          </div>
          <div class="card-body" *ngIf="isvisible[user.userId] === true" >
            <div class="table-responsive">
              <table class="table" *ngIf="user.nat4def.length !== 0">
                <thead class=" text-primary">
                <th></th>
                </thead>
                <tbody>
                <tr *ngFor="let def4 of user.nat4def" [class.bg-success]="def4.isStrong">
                  <td>
                    <div class="card col-12">
                      <img  *ngIf="mapMobs(def4.first) !== undefined" src="{{mapMobs(def4.first).image}}" class="img-fluid center" style="height: 150px;width: 150px">
                      <img  *ngIf="mapMobs(def4.first) === undefined" src="https://lh3.googleusercontent.com/proxy/ICRWt58xYraaP6Vu9E7E4B3PEQxDeuKiRBbrirXYXr--PYdxEISzkPm1kpQiYh7IzmsqdGtVOFxmDDVUjNXbEoI1RLiQnBwbLrQ2yzmx9rtkSiWvHAasXFAGrDjicg" class="img-fluid center" style="height: 150px;width: 150px">
                      <span class="card-description" style="text-align: center">{{def4.first}}</span>
                    </div>
                  </td>
                  <td>
                    <div class="card col-12">
                      <img  *ngIf="mapMobs(def4.second) !== undefined" src="{{mapMobs(def4.second).image}}" class="img-fluid center" style="height: 150px;width: 150px">
                      <img  *ngIf="mapMobs(def4.second) === undefined" src="https://lh3.googleusercontent.com/proxy/ICRWt58xYraaP6Vu9E7E4B3PEQxDeuKiRBbrirXYXr--PYdxEISzkPm1kpQiYh7IzmsqdGtVOFxmDDVUjNXbEoI1RLiQnBwbLrQ2yzmx9rtkSiWvHAasXFAGrDjicg" class="img-fluid center" style="height: 150px;width: 150px">
                      <span class="card-description" style="text-align: center">{{def4.second}}</span>
                    </div>
                  </td>
                  <td>
                    <div class="card col-12">
                      <img  *ngIf="mapMobs(def4.third) !== undefined" src="{{mapMobs(def4.third).image}}" class="img-fluid center" style="height: 150px;width: 150px">
                      <img  *ngIf="mapMobs(def4.third) === undefined" src="https://lh3.googleusercontent.com/proxy/ICRWt58xYraaP6Vu9E7E4B3PEQxDeuKiRBbrirXYXr--PYdxEISzkPm1kpQiYh7IzmsqdGtVOFxmDDVUjNXbEoI1RLiQnBwbLrQ2yzmx9rtkSiWvHAasXFAGrDjicg" class="img-fluid center" style="height: 150px;width: 150px">
                      <span class="card-description" style="text-align: center">{{def4.third}}</span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <table class="table" *ngIf="user.nat5def.length !== 0" >
                <thead class=" text-primary">
                <th></th>
                </thead>
                <tbody>
                <tr *ngFor="let def5 of user.nat5def" [class.bg-success]="def5.isStrong">
                  <td>
                    <div class="card col-12">
                      <img  *ngIf="mapMobs(def5.first) !== undefined" src="{{mapMobs(def5.first).image}}" class="img-fluid center" style="height: 150px;width: 150px">
                      <img  *ngIf="mapMobs(def5.first) === undefined" src="https://lh3.googleusercontent.com/proxy/ICRWt58xYraaP6Vu9E7E4B3PEQxDeuKiRBbrirXYXr--PYdxEISzkPm1kpQiYh7IzmsqdGtVOFxmDDVUjNXbEoI1RLiQnBwbLrQ2yzmx9rtkSiWvHAasXFAGrDjicg" class="img-fluid center" style="height: 150px;width: 150px">
                      <span class="card-description" style="text-align: center">{{def5.first}}</span>
                    </div>
                  </td>
                  <td>
                    <div class="card col-12">
                      <img  *ngIf="mapMobs(def5.second) !== undefined" src="{{mapMobs(def5.second).image}}" class="img-fluid center" style="height: 150px;width: 150px">
                      <img  *ngIf="mapMobs(def5.second) === undefined" src="https://lh3.googleusercontent.com/proxy/ICRWt58xYraaP6Vu9E7E4B3PEQxDeuKiRBbrirXYXr--PYdxEISzkPm1kpQiYh7IzmsqdGtVOFxmDDVUjNXbEoI1RLiQnBwbLrQ2yzmx9rtkSiWvHAasXFAGrDjicg" class="img-fluid center" style="height: 150px;width: 150px">
                      <span class="card-description" style="text-align: center">{{def5.second}}</span>
                    </div>
                  </td>
                  <td>
                    <div class="card col-12">
                      <img  *ngIf="mapMobs(def5.third) !== undefined" src="{{mapMobs(def5.third).image}}" class="img-fluid center" style="height: 150px;width: 150px">
                      <img  *ngIf="mapMobs(def5.third) === undefined" src="https://lh3.googleusercontent.com/proxy/ICRWt58xYraaP6Vu9E7E4B3PEQxDeuKiRBbrirXYXr--PYdxEISzkPm1kpQiYh7IzmsqdGtVOFxmDDVUjNXbEoI1RLiQnBwbLrQ2yzmx9rtkSiWvHAasXFAGrDjicg" class="img-fluid center" style="height: 150px;width: 150px">
                      <span class="card-description" style="text-align: center">{{def5.third}}</span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="card bg-warning" *ngIf="user.nat4def.length === 0">
                <span class="h4 ">Aucune def 4nat enregistrée</span>
              </div>
              <div class="card bg-warning"  *ngIf="user.nat5def.length === 0">
                <span class="h4 ">Aucune def 5nat enregistrée</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

